.layout {
  display: flex;
  height: 100vh;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 40px 30px;
  overflow-y: auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 20px;
}
