@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");

.Root {
  width: 70%;
  border-radius: 8px;
}

.Item {
  box-shadow: 0 6px 2px #f6f7fa;
}

.Header {
  display: flex;
}

.Trigger {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  font-weight: bold;
  border: none;
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.Chevron {
  transition: transform 0.2s ease;
}

.Open {
  transform: rotate(-90deg);
}

.Content {
  padding: 12px 16px;
  background: #fff;
  transition: 0.8s;
}

.ContentText {
  color: #444;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2a2a2a;
  }
}
.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.TitleText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
