@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");

.TitleText {
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
}

.Trigger {
  display: flex;
  align-items: center;
  gap: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.Chevron {
  transition: transform 0.3s ease;
}

.Root {
  width: 100%;
  border-radius: 8px;
  overflow-y: scroll;
  h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2a2a2a;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4b9cfb;
    min-height: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
  }
}

.Item {
  box-shadow: 0 6px 2px #f6f7fa;
}

.Header {
  display: flex;
}

.Trigger {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  font-weight: bold;
  border: none;
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.Chevron {
  transition: transform 0.2s ease;
}

.Open {
  transform: rotate(-90deg);
}

.Item {
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.Content {
  padding: 16px;
}

.ContentText {
  padding-left: 32px;
}
.Content {
  padding: 12px 16px;
  background: #fff;
  transition: 0.8s;
}

.ContentText {
  color: #444;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Nunito", sans-serif;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h4 {
    margin: 4px 0;
    color: #2a2a2a;
    font-size: 18px;
  }
}

.TitleText {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
