.addDoctor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.addDoctor__form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
}